<!-- see foreman/app/helper/form_helper.rb -->
<% javascript 'foreman_scc_manager/scc_accounts'  %>

<%= form_for(@scc_account) do |f| %>
  <%= base_errors_for @scc_account %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _("SUSE Customer Center account") %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <div>
        <%= text_f f, :name %>
        <%= text_f f, :login, :help_block => _("Use your 'Organization credentials' obtained from the SUSE Customer Center.") %>
        <%= password_f f, :password %>
        <%= text_f f, :base_url, label: _('Base URL') %>
        <%= selectable_f f, :interval, SccAccount::TYPES, {},
            { :label => _('Token refresh interval'), :help_block => _("The token refresh interval is used to periodically update the SCC authentication tokens of any imported products.") } %>
        <%= field f, :sync_date, label: _('Token refresh time'), :help_block => _("Specifies the daily time when the SCC authentication token refresh process starts. Set this to a time outside of business hours (e.g., during the night) to minimize disruption.") do
          f.datetime_field :sync_date, placeholder: Time.now
        end %>
       <%= selectable_f f, :katello_gpg_key_id, @selectable_gpg_keys, {},
                        { :include_blank => _("None"),
                          :label => _('Use GPG key for SUSE products'),
                          :selected => @scc_account.katello_gpg_key_id,
                          :help_block => _("Use this setting if you want to automatically add a GPG key to your SUSE products upon subscription. You can change this setting in the 'Content' > 'Products' menu, later.") } %>
        <%= selectable_f f, :download_policy, SccAccount::download_policy_selection_values,
            { :label => _('Download Policy'), :help_block => _("The default download policy for repositories which were created using this SCC Account.") } %>
        <%= selectable_f f, :mirroring_policy, SccAccount::mirroring_policy_selection_values,
            { :label => _('Mirroring Policy'), :help_block => _("The default mirroring policy for repositories which were created using this SCC Account.") } %>
        <div class='clearfix'>
          <div class='form-group'>
            <div class='col-md-2'></div>
            <div class='col-md-4'>
              <%= spinner_button_f(f, _('Test Connection'), '',
                                   id: 'test_scc_connection_btn',
                                   spinner_id: 'test_scc_connection_indicator',
                                   class: 'btn-default',
                                   'data-url': @scc_account.id ? test_connection_scc_account_path : test_connection_scc_accounts_path ) %>
            </div>
            <div class='col-md-2'>
              <span id='connection_test_result'></span>
            </div>
          </div>
        </div>
        <%= f.hidden_field :organization_id %>
        <%= submit_or_cancel f %>
      </div>
    </div>
  </div>
<% end %>
