<% javascript 'foreman_scc_manager/scc_accounts'  %>

<%= form_for(@scc_account) do |f| %>
  <%= base_errors_for @scc_account %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _("SUSE Customer Center account") %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <div>
        <%= text_f f, :name %>
        <%= text_f f, :login %>
        <%= password_f f, :password %>
        <%= text_f f, :base_url, label: _('Base URL') %>
        <div class='clearfix'>
          <div class='form-group'>
            <div class='col-md-2'></div>
            <div class='col-md-4'>
              <%= spinner_button_f(f, _('Test Connection'), '',
                                   id: 'test_scc_connection_btn',
                                   spinner_id: 'test_scc_connection_indicator',
                                   class: 'btn-default',
                                   'data-url': test_connection_scc_accounts_path(scc_account_id: @scc_account)) %>
            </div>
            <div class='col-md-2'>
              <span id='connection_test_result'></span>
            </div>
          </div>
        </div>
        <%= f.hidden_field :organization_id %>
        <%= submit_or_cancel f %>
      </div>
    </div>
  </div>
<% end %>
