<% javascript 'foreman_scc_manager/scc_accounts'  %>
<% title _("SUSE subscriptions") %>
<% title_actions new_link(_("Add SCC account")) %>

<table class="<%= table_css_classes 'table-two-pane table_fixed' %>">
  <thead>
    <tr>
      <th class="col-md-4"><%= sort :name %></th>
      <th class="col-md-3"><%= _("Products") %></th>
      <th class="col-md-3"><%= _("Last synced") %></th>
      <th class="col-md-2"><%= _("Actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @scc_accounts.each do |scc_account| %>
      <tr>
        <td class="display-two-pane ellipsis">
          <%= link_to_if_authorized(scc_account.name, hash_for_edit_scc_account_path(:id => scc_account).merge(:auth_object => scc_account, :authorizer => authorizer)) %>
        </td>
        <td><%= scc_account.scc_products_with_repos_count.to_s %></td>
        <td><%= link_to_if(scc_account.sync_task, scc_account.sync_status, scc_account.sync_task) %></td>
        <td>
          <%= action_buttons(
            display_link_if_authorized(_("Select products"), hash_for_scc_account_path(:id => scc_account).merge(:auth_object => scc_account, :authorizer => authorizer, :permission => 'view_scc_accounts')),
            display_link_if_authorized(_("Sync"), hash_for_sync_scc_account_path(:id => scc_account).merge(:auth_object => scc_account, :authorizer => authorizer),
                                       :method => :put),
            display_delete_if_authorized(hash_for_scc_account_path(:id => scc_account).merge(:auth_object => scc_account, :authorizer => authorizer, :permission => 'delete_scc_accounts'),
                                         :data => { :confirm => _("WARNING: If you want to switch SCC accounts and retain the synchronized content, DO NOT delete your old SCC account, even if it is expired. Please change the login and password of your SCC account, instead.\n\nIf you delete your old SCC account, you CANNOT reuse existing repositories, products, content views, and composite content views.\n\nReally delete SCC account %s?") % scc_account.to_s })

          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate_with_info @scc_accounts %>
